//
//  AprimeAna.xcconfig
//  AprimeAna
//
//  Created by Maurik Holtrop on 6/4/10.
//  Copyright 2010 University of New Hampshire. All rights reserved.
//
#include "master.xcconfig"
PRODUCT_NAME=${TARGET_NAME} 
EXECUTABLE_PREFIX=

// == Activate LCIO and Python
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include ${PYTHON_INCLUDE_DIR}

LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}  -ldl -framework CoreFoundation ${PYTHON_LIBS}

//HEADER_SEARCH_PATHS=$(inherited) ${HPSTR}/event/include
