//
//  AprimeAna.xcconfig
//  AprimeAna
//
//  Created by Maurik Holtrop on 6/4/10.
//  Copyright 2010 University of New Hampshire. All rights reserved.
//
#include "master.xcconfig"
PRODUCT_NAME=${TARGET_NAME} 
EXECUTABLE_PREFIX=

PYTHON_VERSION=/usr/local/Frameworks/Python.framework/Versions/3.7

// == Activate LCIO and Python
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include ${PYTHON_VERSION}/include/python3.7m

LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}  -ldl -framework CoreFoundation ${PYTHON_VERSION}/lib/libpython3.7.dylib

//HEADER_SEARCH_PATHS=$(inherited) ${HPSTR}/event/include
