//
//  hpstr_event.xcconfig
//  event
//
//  Created by Maurik Holtrop on 12/14/18.
//
#include "master.xcconfig"

PRODUCT_NAME= ${TARGET_NAME} // event

EXECUTABLE_PREFIX=lib   // Xcode bug: does not inherit this from master.
EXECUTABLE_EXTENSION=dylib

// == Cross directory include
HEADER_SEARCH_PATHS=$(inherited) $(SOURCE_ROOT)/analysis/include  $(SOURCE_ROOT)/event/include $(SOURCE_ROOT)/processing/include

// == Activate LCIO
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}

